/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

i.bi {
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

/* ============================
   MAIN CONTENT*/

h1 {
  text-align: center;
  padding: 30px 10px;
}

main {
  text-align: center;
  padding: 30px 10px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #214f88;
}

.subtitulo {
  font-size: 1rem;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 10px;
}

/* Coluna da esquerda */
.coluna-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* Avatar */
.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

/* Blocos azuis */
.bloco-azul {
  background-color: #1976d2;
  border-radius: 20px;
  box-shadow: 0px 2px 4px black;
}
.bloco-azul a {
text-decoration: none;
color: white;
}

.bi-linkedin:hover{
color: #f57c00;
}

button {
border: none  ;
}

.bloco-azul.grande {
  width: 300px;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 15px;
  line-height: 1.4;
  color: white;
}

.bloco-azul.pequeno {
  width: 300px;
  height: 70px;
  color: white;
  border-radius: 30px;
  border-color: white;
}

button:hover {
  background-color: #0d47a1;
}


/* Coluna da direita */
.coluna-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco-laranja {
  background-color: #f57c00;
  box-shadow: 0px 2px 4px black;
  width: auto;
  height: auto;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 21px;
  line-height: 1.4;
  color: white;
}

.bloco-laranja p {
  margin: 0;
  padding: 0;
}

.bi-linkedin {
  font-size: 50px;
}

/* ============================
   RESPONSIVIDADE – MOBILE
===============================*/
@media (max-width: 850px) {

  /* Container vira coluna */
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    width: 100%;
  }

  /* Coluna esquerda fica acima */
  .coluna-esquerda {
    order: 1;
    width: 100%;
  }

  /* Avatar centralizado e menor */
  .avatar {
    width: 150px;
    height: 150px;
  }

  /* Bloco azul maior e 100% */
  .bloco-azul.grande {
    width: 100%;
    max-width: 380px;
    height: auto;
    text-align: justify;
    padding: 20px;
  }

  /* Botão voltar ao início */
  .bloco-azul.pequeno {
    width: 300px;
    max-width: 420px;
    height: 70px;
    font-size: 18px;
  }

  /* Coluna direita (laranja) vai para baixo */
  .coluna-direita {
    order: 2;
    width: 100%;
  }

  /* Bloco laranja ocupa 100% */
  .bloco-laranja {
    width: 150% !important;
    padding: 30px;
    font-size: 18px;
  }

  /* Ajuste de tamanho de texto */
  .bloco-laranja p {
    font-size: 18px;
    line-height: 1.4;
  }

}

